<div class="row-span-3 top-1/4 relative ">
  <button @onclick="@(()=>MoveAxisClick("X-"))" class="btn bg-base-100 controlbtn moveButton">
        <span class="pr-2 tracking-widest">X</span>
    </button>
  </div>
  <div class="">
   <button @onclick="@(()=>MoveAxisClick("Y+"))" class=" btn bg-base-100 controlbtn moveButton">
            <span class="pr-2  tracking-widest"> Y+</span>
        </button>
  </div>
  <div class="row-span-3  top-1/4 relative">
  <button @onclick="@(()=>MoveAxisClick("X+"))" class="btn bg-base-100 controlbtn moveButton">
            <span class=" pr-2 tracking-widest"> X+</span>
        </button>
  </div>
  <div class="">
     <div class="h-1/2">
            <button @onclick="@(()=>MoveAxisClick("Z+"))" class="btn bg-base-100 controlbtn moveButton">
                <span class="pr-2 tracking-widest"> Z+</span>
            </button>
        </div>
  </div>
  <div class="">
      <div class="btm h-1/2">
        <button @onclick="@(()=>MoveAxisClick("Y-"))" class="btn bg-base-100 controlbtn moveButton">
            <span class=" pr-2 tracking-widest"> Y-</span>
        </button>
    </div>
  </div>
  <div class="">
       <button @onclick="@(()=>MoveAxisClick("Z-"))" class="btn bg-base-100 controlbtn moveButton">
            <span class="pr-2 tracking-widest"> Z-</span>
        </button>
  </div>













