@page "/settings"
<div class="pt-6">
    <div class="grid sm-grid-cols-1 gap-4 md:grid-cols-2 gap-4">
        <div class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content">
            <div class="bg-base-100 p-2 align-bottom mb-2">
                <span class="align-middle inline-block p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                    </svg>
                </span>
                Themes
            </div>
            <div class="pl-3 pr-3 p-3">
                <ThemeSelector />
            </div>
        </div>
        <div class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content">
            <div class="bg-base-100 p-2 align-bottom mb-2">
                <span class="align-middle inline-block p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                </span>
                Favorites
            </div>
            <div class="pl-3 pr-3 p-3">
                <div ondragover="event.preventDefault();">
                    <table class="w-full table-auto">
                        <thead>
                            <tr class="pb-3 bg-base-300 text-base-content bg-neutral text-neutral-content">
                                <th class="p-2 text-left font-normal">
                                    <ToolTip Text="Connect to the selected machine on application start.">
                                        <span class= "align-middle inline-block pr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                         </span>
                                    </ToolTip>Connect
                                </th>
                                <th class="p-2 text-left font-normal">Name</th>
                                <th class="p-2 text-left font-normal">Model</th>
                                <th class="p-2 text-left font-normal">Firmware</th>
                                <th class="p-2 text-left font-normal">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Machines != null)
                                @foreach (var item in Machines)
                                {
                                    if (item != null)
                                    {
                                    <tr class="pb-3 bg-base-100 text-base-content bg-neutral text-neutral-content" draggable="true" @key="item.Id" tabindex="1"
                                        @ondrop="@(()=> Drop(item))" @ondrag="@(()=> StartDrag(item))">
                                        @*<td>1 @item.Id</td>*@
                                        <td class="p-2">@item.Default</td>
                                        <td class="p-2">@item.Name</td>
                                        <td class="p-2">@item.Model</td>
                                        <td class="p-2">@item.Firmware</td>
                                        <td class="p-2">@item.Type</td>
                                    </tr>
                                    }
                                    else
                                    {
                                        <tr class="shadow-md bg-base-100 text-base-content bg-neutral text-neutral-content">
                                            <td>NULL??</td>
                                            <td>NULL??</td>
                                            <td>NULL??</td>
                                            <td>NULL??</td>
                                        </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="shadow-md bg-base-200  bg-neutral text-neutral-content ">
            <div class="shadow-md bg-base-200 x bg-neutral text-neutral-content">
                <div class="bg-base-100 p-2 align-bottom mb-4">
                    <span class="align-middle inline-block p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="text-neutral-content" version="1.1" id="mdi-printer-3d-nozzle-outline" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M7,2H17V7H19V13H16.5L13,17H11L7.5,13H5V7H7V2M10,22H2V20H10A1,1 0 0,0 11,19V18H13V19A3,3 0 0,1 10,22M7,9V11H8.5L12,15L15.5,11H17V9H15V4H9V9H7Z" />
                        </svg>
                    </span>
                    Temp
                </div>
            </div>
        </div>
        <div class="shadow-md bg-base-200  bg-neutral text-neutral-content">
            <div class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content">
                <div class="bg-base-100 p-2 align-bottom mb-4">
                    <span class="align-middle inline-block p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                        </svg>
                    </span>
                    Themes
                </div>

            </div>
        </div>
        <div class="shadow-md bg-neutral text-neutral-content bg-base-200">
            <div class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content">
                <div class="bg-base-300 p-2 align-bottom mb-4">
                    <span class="align-middle inline-block p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                        </svg>
                    </span>
                    Themes
                </div>

            </div>
        </div>
        <div class="shadow-md bg-neutral text-neutral-content bg-base-300">
            <div class="shadow-md bg-base-200 text-base-content bg-neutral text-neutral-content">
                <div class="bg-base-300 p-2 align-bottom mb-4">
                    <span class="group-hover:text-emerald align-middle inline-block p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:fill-red hover:fill-red  h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                        </svg>
                    </span>
                    Themes
                </div>

            </div>
        </div>
    </div>
</div>
