<EditForm Model="@inputText">
    <InputText id="@InputID" @bind-Value="inputText.TextValue">You can enter some text...</InputText>
    <p>@inputText.TextValue</p>
    <p>@inputText.TextValue</p>
</EditForm>

<br />
<br />
<button @onclick="BtnApiTestClick" role="button" aria-pressed="true" class="tracking-wider sqrbtn btn btn-primary">Test</button>
<p>@Output</p>
<p class="bg-green-500 testt">yo</p>
<br />